.header {
    position: relative;

    display: flex;
    align-items: center;
    z-index: calc(var(--z-index) + 4);
}

.leftRail {
    position: absolute;

    display: flex;
    flex-direction: column;

    top: calc(var(--default-figure) + 1.5rem);
    left: var(--default-figure);

    gap: var(--default-figure);
}

.menuItem {
    font-size: 1.6rem;
}
