.wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.container {
    position: absolute;
    top: calc(var(--default-figure) + 1.5rem);
    left: var(--default-figure);

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);

    font-size: 1.6rem;

    gap: var(--default-figure);

    z-index: calc(var(--z-index) + 4);
}
