.wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
    padding: 2rem;
    width: 5.2rem;
}

.row {
    position: relative;
}

.btn {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    border: 1px solid var(--color-border);
    background: var(--color-bg);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.btnActive {
    background: color-mix(in srgb, var(--active-color) 8%, transparent);
    box-shadow: var(--base-box-shadow);
    outline: 2px solid var(--active-color);
    color: var(--color-primary);
}

.row:hover .label {
    opacity: 1;
}
