.menu {
    min-width: 20rem;
    position: absolute;

    top: 0%;
    left: 48px;

    border: 1px solid transparent;

    border-radius: var(--base-radius);

    box-shadow: var(--base-shadow);

    background-color: var(--color-bg);

    padding: var(--base-padding);

    z-index: calc(var(--base-z-index) + 4);
}

.item {
    display: flex;
}
.item:hover {
    color: var(--color-primary);
}
