.menu {
    min-width: 15rem;
    position: absolute;

    display: flex;
    flex-direction: column;

    border: 1px solid transparent;

    border-radius: var(--default-figure);

    box-shadow: var(--box-shadow);

    background-color: var(--background-color);

    padding: var(--default-figure) 0.5rem;
    gap: var(--default-figure);

    z-index: calc(var(--z-index) + 4);
}

.right {
    right: 10%;
}

.checked {
    color: var(--primary-color);
}

.item kbd {
    margin-left: auto;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}
